<ion-content [fullscreen]="true">
  
    <div class="container">
    
      <form  [formGroup]="LoginInputValue" (ngSubmit)="SubmitForm()" class="login-Form">
        
          <div id="username">
            <input type="text" placeholder="username" formControlName="username">
            <span *ngIf="!v.username.value && v.username.invalid"> username is required</span>
          </div>
          <div id="password">
            <input type="password" placeholder="password" formControlName="password">
            <span *ngIf="!v.password.value && v.password.invalid"> password is required</span>
          </div>
       
        <div>
          <button class="btn" id="btn">login</button>
        </div>
        <div id="user_text"> new user?<span (click)="register()"> register</span></div>
      </form>
    </div>
  

</ion-content>